 1: Random Lottery Pick. Generate 100 random lottery tickets and pick two lucky tickets from it as a winner.
Note you must adhere to the following conditions:

The lottery number must be 10 digits long.
All 100 ticket number must be unique.

Hint: Generate a random list of 1000 numbers using randrange() and then use the sample() method to pick lucky 2 tickets.



sample output:"Lucky 2 lottery tickets are [6764548492, 3615771612]"

In [ ]:
import random 
lottery_list = []
for i in range(20):
    lottery_list.append(random.randint(10, 99))

print("Locky tickets: {}".format(random.sample(lottery_list, 2)))
print(len(set(lottery_list)))

Locky tickets: [17, 61]
17

In [ ]:
import random ! #Selman
ls = []
while len(ls) != 100:
    ls.append(random.randrange(1000000000, 10000000000))
    ls = list(set(ls))
print(random.sample(ls, 2))

In [ ]:
import random  # Samet
tickets = []  # 100 elemanlı liste için boş dizi tanımlaması
counter = 0
while counter < 100 :  # 100 elemanlı dizi oluşturulması
    new_number = random.randrange(1000000000,9999999999)
    if new_number not in tickets:   # daha önce dizide yok ise elamanı ekle
        tickets.append(new_number)
        counter += 1
print(len(tickets))
lucky_tickets = random.sample(tickets , 2)  # şanslı 2 sayının seçimi
lucky_tickets

2. Write a Python function that prints out the first n rows of Pascal's triangle.

Note : Pascal's triangle is an arithmetic and geometric figure first imagined by Blaise Pascal.

Sample Output:

[1]                                                                                                           
[1, 1]                                                                                                        
[1, 2, 1]                                                                                                     
[1, 3, 3, 1]                                                                                                  
[1, 4, 6, 4, 1]                                                                                               
[1, 5, 10, 10, 5, 1]

In [2]:
def pascal(n):                        
    for i in range(1, n+1):
        ls = [1]
        a = 0
        if i>2:
            while a<i:
                ls.append(ls1[a]+ls1[a+1])
                if a+1 == len(ls1)-1:
                    break
                a+=1
        if i>1:
            ls.append(1)
        ls1 = ls
        print((n-i)*' ', ls1)

In [3]:
pascal(6)

      [1]
     [1, 1]
    [1, 2, 1]
   [1, 3, 3, 1]
  [1, 4, 6, 4, 1]
 [1, 5, 10, 10, 5, 1]

In [ ]:
n = int(input("satır sayısı giriniz: ")) # Samet
ilk_dizi = [1]
ikinci_dizi = [1]

for i in range(1,n+1):
    print(ilk_dizi)
    
    for j in range(i):
        
        if j == i-1:
            ikinci_dizi.append(1)    
        else:
            ikinci_dizi.append(ilk_dizi[j] + ilk_dizi[j+1])
            
    ilk_dizi = ikinci_dizi
    ikinci_dizi = [1]

In [ ]:
x = int(input("Enter the desired height. "))
list=[1]
for i in range(x):
    print(list)
    newlist=[]
    newlist.append(list[0])
    for i in range(len(list)-1):
        newlist.append(list[i]+list[i+1])
    newlist.append(list[-1])
    list=newlist

Enter the desired height. 5
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [ ]:
def generate_pascal(height, rows=[]):
    rows.append([1])
    row=[1]
    for i in range(height):
        last = 0
        next_row = []
        for n in row:
            next_row.append(last + n)
            last = n
        next_row.append(1)
        
        row = next_row
        rows.append(row)
    
    return rows

for i in generate_pascal(5):
    print(i)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

3. Write a Python program to get next day of a given date.
(don't forget leap year)

Expected Output:

Input a year: 2016                                                      
Input a month [1-12]: 08                                                
Input a day [1-31]: 23                                                  
The next date is [yyyy-mm-dd] 2016-8-24

In [ ]:
year = int(input('Year: '))
month = int(input("Month: "))
day = int(input("Day: "))

if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
  if month == 2 and day == 28:
    print(year, 2, 29, sep="-")
  if month == 2 and day == 29:
    print(year, 3, 1, sep="-")

if month in (1, 3, 5, 7, 8, 10, 12) and day < 31:
  print (year, month, (day+1), sep="-")
elif month in (1, 3, 5, 7, 8, 10) and day == 31:
  print(year, month+1, 1, sep="-")
elif month == 12 and day == 31:
    print(year+1, 1, 1, sep="-")

if month in (4,6,9,11) and day < 30:
  print (year, month, (day+1), sep="-")
elif month in (4,6,9,11) and day == 30:
  print(year, month+1, 1, sep="-")

if month == 2 and day < 28:
  print (year, month, (day+1), sep="-")
elif month == 2 and day == 28:
  print(year, 3, 1, sep="-")

Year: 1999
Month: 2
Day: 29

In [ ]:
year = int(input('year: '))     # Selman
month = int(input('month: '))
day = int(input('day: '))

if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False

if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30
    
if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print(f'The next date is [yyyy-mm-dd] {year}-{month}-{day}')

year: 1999
month: 12
day: 31
The next date is [yyyy-mm-dd] 2000-1-1

In [ ]:
year = int(input("Dört haneli olarak yılı girin: ")) # Samet
mounth = int(input(" [1-12] arasında yılı girin: "))
day = int(input(" [1-31] arasında yılı girin: "))

year_list = list(range(0,3001))
mounth_list = list(range(1,13))
day_list = list(range(1,32))
kontrol = True
otuzbir = [1,3,5,7,8,10,12]
otuz = [4,6,9,11]

if day not in day_list or mounth not in mounth_list or year not in year_list:
    kontrol = False
    print("Doğru formatta giriş yapmadınız!!")
if mounth in otuzbir and day > 31 or mounth in otuz and day > 30 or mounth == 2 and day > 29:
    kontrol = False
    print("Doğru formatta giriş yapmadınız!!")
    
def artik_yil(year):
    artık_yıl = False
    if year % 400 == 0:
        return True
      
    elif year % 100 == 0:
        return False
        
    elif year % 4 == 0:
        return True
if kontrol:
    
    if day == 31 and mounth == 12:
        year += 1 
    if artik_yil(year) and mounth == 2 and day == 28:
        day = day + 1
    elif (not artik_yil(year) and mounth == 2 and day == 28) or \
    (artik_yil(year) and mounth == 2 and day == 29) or \
    (mounth in otuzbir and day == 31) or (mounth in otuz and day == 30):
        day = 1
        mounth += 1
    else:
        day += 1
    print(f"The next date is {year}-{mounth}-{day}")

Dört haneli olarak yılı girin: 1999
 [1-12] arasında yılı girin: 12
 [1-31] arasında yılı girin: 31
The next date is 2000-13-1

4. Write a function that takes an ordered list of numbers (a list where the elements are in order from smallest to largest) and another number. The function decides whether or not the given number is inside the list and returns (then prints) an appropriate boolean.

Extras:Use binary search.

output : "True" or "False"

In [ ]:
def inside(ls, n): # selman
    if n in ls:
        return True
    else:
        return False

In [ ]:
inside([1,2,3,5,6,9,11,55,88], 9)

True

In [ ]:
def search(liste,sayi):  # Samet
    liste.sort()
    if sayi in liste:
        return True
    else:
        return False
search([5,2,35,4,2,8,9],9)

In [ ]:
def find(ordered_list, element_to_find):
  for element in ordered_list:
    if element == element_to_find:
      return True
  return False

l = [2, 4, 6, 8, 10]
print(find(l, 5)) 
print(find(l, 10))

False
True

In [ ]:
list1 = [1,2,3,4,5,6]

element = [7]

if set(list1).intersection(element):
  print("true")

5. Write a program determine if a sentence is a pangram.

What is Pangram? ... The sentence formed by using all the letters of the alphabet is called a "pangram".

In [ ]:
from string import ascii_lowercase

def is_pangram(sentence):
    return set(ascii_lowercase).issubset(sentence.lower())

print(is_pangram("Qwert yuop asdf ghjkl izxc vbnm"))

True

In [ ]:
sentence = input('Give me a sentence: ').strip(' ,.!?').lower()   # Selman
set1 = {'q','w','e','r','t','y','u','i','o','p','a','s','d','f','g','h','j','k','l','z','x','c','v','b','n','m'}
set2 = set(sentence)
set2.remove(' ')
if set2 == set1:
    print('Your sentence is a Pangram')
else:
    print('Your sentence is not a Pangram')

Give me a sentence: The quick brown fox jumps over a lazy dog.
Your sentence is a Pangram

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog. Crazy Fredrick bouht many very exquisite opal ewels.".upper()    # Samet
alphabet = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]

for i in sentence:
    if i in alphabet:
        alphabet.pop(alphabet.index(i))

if len(alphabet) == 0:
    print("pangram")
else:
    print("pangram değil")

 6.Write a python program convert hijri calendar to gregorian calendar

In [ ]:
from hijri_converter import convert

g = convert.Hijri(1400, 2, 17).to_gregorian()

h = convert.Gregorian(2021, 8, 3).to_hijri()

print(h)

1442-12-24

In [ ]:
year = int(input('Give me a Hijri year: '))   #Selman
print(f'gregorian year is {int(year*0.97+622)} ')

Give me a Hijri year: 566
gregorian year is 1171

In [ ]:
hijri = int(input("hicri yılı giriniz: "))    # Samet
miladi = hijri - hijri / 33 + 622
print("miladi:", round(miladi))