**QUEST I-** Write a Python program to check if a given positive integer is a power of three.

In [6]:
n = int(input('number : '))
if n % 3 == 0:
    print(f'{n} is a power of three.')
else:
    print(f'{n} is not a power of three.')

number : 1548798654458487524156658985215748456646
1548798654458487524156658985215748456646 is not a power of three.

**QUEST II-** Write a Python program to check if a number is a perfect square

In [16]:
n = int(input('number : '))
sq = int(n**0.5)
if sq**2 == n:
    print(f'{n} is a perfect square')
else:
    print(f'{n} is not a perfect square')

number : 400
400 is a perfect square

**QUEST III-** Write a Python program to check if an integer is the power of another integer

In [19]:
n = int(input('number : '))
sq = int(n**0.5)
if sq == n**0.5:
    print(f'{n} is the power of {sq}')
else:
    print(f'{n}  is not the power of another integer')

number : 64
64 is the power of 8

**QUEST IV-** Write a Python program to find the single number in a list that doesn't occur twice.

In [13]:
ls = [1, 2, 3, 4, 5, 6, 7, 3]
ls1 = []
for i in ls:
    if i % 2 != 0:
        if ls.count(i) == 1:
            ls1.append(i)
        
ls1

[1, 5, 7]

**QUEST V-** Write a Python program to find the length of the last word.

In [25]:
sentence = input('give me a sentence please! : ').strip().strip('.?!;,')
print(f'the length of the last word: {len(sentence.split()[-1])}')

give me a sentence please! : Print the two lists given with their sequence numbers?
the length of the last word: 7

**QUEST VI-** Print the two lists given with their sequence numbers



```
Countries=["Turkey","Italy","Spain","Portugal","France"]
Capitals=["Ankara","Rome","Madrid","Lisbon","Paris"]```

Expected output:0 Turkey Ankara

In [32]:
Countries=["Turkey","Italy","Spain","Portugal","France"]
Capitals=["Ankara","Rome","Madrid","Lisbon","Paris"]

n = 0
while n < len(Countries):
    print(n, Countries[n], Capitals[n])
    n+=1

0 Turkey Ankara
1 Italy Rome
2 Spain Madrid
3 Portugal Lisbon
4 France Paris

**QUEST VII-** The Fibonacci sequence is a series of numbers where a number is the addition of the last two numbers, starting with 0, and 1.

The Fibonacci Sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55…

Written as a rule, the expression is:

Xn = Xn-1 + Xn-2

Write a Python program to find the Fibonacci number corresponding to the sequence number entered by the user

In [40]:
n = int(input('number: '))
n1 = n
ls = [0, 1]
while n != 0:
    ls.append(ls[-1]+ls[-2])
    n-=1

print(f'Fibonacci number corresponding to the sequence {n1} : {ls[-1]}')

number: 5
Fibonacci number corresponding to the sequence 5 : 8

**QUEST VIII-** Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)

Sample Output: {1: 1, 2: 4, 3: 9, 4: 16}

In [48]:
n = int(input())
a = 1
dic = {}
while a < n+1:
    dic[a]=a**2
    a+=1
dic

5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [44]:
type(dic)

dict

**QUEST IX-** Write a Python program to construct the following pattern, using a nested for loop

Expected output


```
+
++
+++
++++
+++++
++++
+++
++
+
```

In [90]:
n = int(input())
ch = ''
for i in range( n*2):
    if i < n:
        ch = ch+'+'
        print(ch)
    else:
        ch = ch[:-1]
        print(ch)

5
+
++
+++
++++
+++++
++++
+++
++
+

**QUEST X-** Write a Python program to calculate a dog's age in dog's years.
* Note:  

*   For the first two years, a dog year is equal to 10.5 human years.
*   After that, each dog year equals 4 human years

In [108]:
age = float(input('Enter age of your dog: '))
if age < 2:
    print(f"dog's years: {10.5*age}")
else:
    print(f"dog's years: {21+(age-2)*4}")

Enter age of your dog: 15
dog's years: 73.0

### **QUEST XI-** Write a Python program to display the sign of the Chinese Zodiac for given year in which you were born

***QUEST XII-*** Write a Python program to construct the following pattern, using a nested loop number

Expected output


```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [9]:
n = int(input('Give me a number please: '))
for i in range(1, n+1):
    print(i*str(i))

Give me a number please: 9
1
22
333
4444
55555
666666
7777777
88888888
999999999

**QUEST XIII-** Write a Python function to find the Max of three numbers

In [14]:
ls = []
print('Give me three numbers please ')
for i in range(3):
    nums = int(input(f'number{i+1} : '))
    ls.append(nums)
print(F'Max of three numbers: {max(ls)}')

Give me three numbers please
number1 : 45
number2 : 465
number3 : 435
Max of three numbers: 465

**QUEST XIV-** Write a Python function to multiply all the numbers in a list

In [15]:
ls = [1, 2, 3, 4, 5, 6]
num = 1
for i in ls:
    num *=i
print(num)

720

**QUEST XV-** Write a Python program to reverse a string.


`Sample String : "1234abcd"`

`Expected Output : "dcba4321"`

In [20]:
s = input()
s1 = ''
ls = []
for i in range(1, len(s)+1):
    s1+=s[-i]
    
s1

1234abcd

'dcba4321'

**QUEST XVI-** Write a Python function that takes a list and returns a new list with unique elements of the first list

For Example:

`list1 = [1,2,3,3,3,3,4]`

expected output:

`[1, 2, 3, 4, 5]`

In [23]:
def unique_list(ls):
    return list(set(ls))

In [24]:
list1 = [1,2,3,3,3,3,4]
unique_list(list1)

[1, 2, 3, 4]

**QUEST XVII-** Write a Python program to print the odd numbers from a given list

In [1]:
ls = [1, 3, 4, 5, 6, 43, 77, 88, 22]
ls1 = []
for i in ls:
    if i % 2 != 0:
        ls1.append(i)
ls1

[1, 3, 5, 43, 77]

**QUEST XVIII-** Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included)

In [2]:
for i in range(2000, 3201):
    if i%7 == 0 and i%5 != 0:
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

**QUEST XIX-** Write a program which can compute the factorial of a given numbers

In [6]:
n = int(input('Give me a number: '))
a = 1
result = 1
while a < n+1:
    result*=a
    a+=1
print(f'{n}! = {result}')

Give me a number: 5
5! = 120

**QUEST XX-** Write a program to find if a three-digit number is an Armstrong Number.

A positive integer is called an Armstrong number of order n if


```
abcd... = an + bn + cn + dn + ...
```
In case of an Armstrong number of 3 digits, the sum of cubes of each digit is equal to the number itself. For example:



```
153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.
```

In [9]:
n = input('Give me a three-digit number: ')
if int(n[0])**3 + int(n[1])**3 + int(n[2])**3 == int(n):
    print(n, 'is an Armstrong number.')
else:
    print(n, 'is not an Armstrong number.')

Give me a three-digit number: 345
345 is not an Armstrong number.

**QUEST XXI-** Write a program to find the numbers divisible by another number and display it.

For examples: 

`list1 = [12, 65, 54, 39, 102, 339, 221] `

let's say we are looking to see if the elements in the list are divisible by 13

expected output:

`Numbers divisible by 13 are [65, 39, 221]`

In [13]:
list1 = [12, 65, 54, 39, 102, 339, 221]
ls = []
n = int(input('Give me a number: '))
for i in list1:
    if i % n == 0:
        ls.append(i)
print(f'Numbers divisible by {n} are {ls}')

Give me a number: 13
Numbers divisible by 13 are [65, 39, 221]

**QUEST XXII-** Write a program to sort the words in alphabetic order and display it

For examples:

`str1 = "happy holidays for all clarusway members"`

expected output:

```
all
clarusway
for
happy
holidays
members
```

In [47]:
s = input('Give me a sentence: ').strip()
ls = list(s.split())
ls.sort()
for i in ls:
    print(i)

Give me a sentence: UPS.. SORRY I FORGET CAPS LOCK ON
CAPS
FORGET
I
LOCK
ON
SORRY
UPS..

**QUEST XXIII-** Write a program to sort a dictionary by value

For examples:

`dict1 = {7:4, 13:6, 6:9}`

expected output:

`{7: 4, 13: 6, 6: 9}`

In [39]:
dict1 = {7:55, 13:44, 6:99}
dict(sorted(dict1.items(), key = lambda item : item[1]))

{13: 44, 7: 55, 6: 99}

**QUEST XXIV-** Write a program that takes a string. If the string is all uppercase characters, convert it to lowercase


`"UPS.. SORRY I FORGET CAPS LOCK ON"` ➞ `"sorry i forgot caps lock on"`

In [41]:
s = input('Give me a sentence: ').strip().lower()
s

Give me a sentence: UPS.. SORRY I FORGET CAPS LOCK ON

'ups.. sorry i forget caps lock on'

**QUEST XXV-** Write a Python program to construct the following pattern

```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [63]:
n = int(input('Give me a number: '))
a = 1
while a < n+1:
    for i in range(1, a+1):
        print(i, end = " ")
    print()
    a+=1

Give me a number: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**QUEST XXVI-** Write a program to accept number from user and calculate the sum of all number from 1 to a given number

For example, if user entered 10 the output should be 55

(10+9+8+7+6+5+4+3+2+1 = 55)

In [73]:
n = int(input('Give me a number: '))
a = 1
result = 0
while a < n+1:
    result+=a
    a+=1
print(f'sum of 1-{n} = {result}')

Give me a number: 10
sum of 1-10 = 55

**QUEST XXVII-** Write a Python program to construct the following pattern

```
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
```

In [72]:
n = int(input('Give me a number: '))
ls = list(range(1, n+1))
ls.reverse()
a = 0
while a < n:
    for i in ls[a:]:
        print(i, end = ' ')
    print()
    a+=1

Give me a number: 9
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

**QUEST XXVIII-** Write a program which display the cube of the number up to a given integer

For Example: 

`num1 = 6`

Expected output:

```
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216
```

In [74]:
n = int(input('Give me a number: '))
for i in range(1, n+1):
    print(f'Current Number is : {i}  and the cube is {i**3}')

Give me a number: 6
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

**QUEST XXIX-** Write a program to split a given string on hyphens into several substrings and display each substring

For Examples :

`str1 = "Emre-is-a-data-scientist"`

Expected output:
```
Emre
is
a
data
scientist
```

**QUEST XXX-** Write a function that prints the salary and employee name from the user

For Example:
```
name: emre

price: 5000
Employee emre salary is: $ 5000
```